export(QC_database)
export(calculate_peptide_mass)
export(download_lpm_db)
export(generate_random_db)
export(lpm_MAplot)
export(lpm_heatmap)
export(lpm_linearmodel)
export(lpm_make.RGList)
export(lpm_mockdata)
export(lpm_refine)
export(lpm_summary)
export(lpm_volcanoplot)
export(make.statlist)
export(pep.id)
export(pep.massmatch)
export(pepmatch)
export(read.labelpepmatch)
export(read.progenesis)
export(view_spectra)
export(add_id)
exportClasses(RGList)
exportClasses(lpm_input)
exportClasses(lpm_linearmodel)
exportClasses(lpm_statlist)
exportClasses(pepmatched)
exportClasses(pep_massmatched)
import(RCurl)
import(bitops)
import(brew)
import(colorRamps)
import(doParallel)
import(foreach)
import(gplots)
import(lme4)
import(lsmeans)
import(plyr)
import(reshape2)
importFrom(influence.ME,influence)
importFrom(plotrix,pyramid.plot)
